.custom-generate-button {
    padding: 1rem 1.5rem !important;
    border-radius: 0.3rem !important;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.4) !important;
    color: white !important;
    font-weight: 600 !important;
    border: none !important;
    transition: 0.3s ease-in-out !important;
}
.button-purple {
    background-color: #845EC2 !important;
}
.button-purple:hover {
    background-color: #6C48A9 !important;
}
.button-teal {
    background-color: #008C81 !important;
}
.button-teal:hover {
    background-color: #007167 !important;
}
.button-blue {
    background-color: #257FD4 !important;
}
.button-blue:hover {
    background-color: #0065B7 !important;
}
.button-red {
    background-color: #B63228 !important;
}
.button-red:hover {
    background-color: #960C12 !important;
}
.button-yellow {
    background-color: #FFCE44 !important;
}
.button-yellow:hover{
    background-color: #E0B325 !important;
}
.button-pink {
    background-color: #FF6B95 !important;
}
.button-pink:hover {
    background-color: #D74674 !important;
}